@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Poppins:wght@300;400;500;600&display=swap');


$primary-color :#080808;
$secondary-color:#FFFFFF;
$gray: #161616;
$accent-color: #1DB954;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}
.main-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    .left-container{
        width: 30vw;
        max-width: 350px;
        height: calc(100% - 100px);
        background-color: $primary-color;
        padding: 20px 20px;
        color: $secondary-color;
        .logo-wrap{
            img{
                height: 3vw;
                max-height: 36px;
                min-height: 24px;
            }
        }
        .navbar-wrap{
            padding: 20px 0px;
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .navbar{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 6px;
                button{
                    width: 100%;
                    text-align: start;
                    padding: 10px 10px;
                    border-radius: 6px;
                    outline: none;
                    border: none;
                    background-color: transparent;
                    color: inherit;
                    font-size: 16px;
                    display: flex;
                    gap: 10px;
                    justify-content: flex-start;
                    align-items: center;
                    font-weight: 500;
                    &:hover{
                        cursor: pointer;
                        background-color: $gray;
                    }
                    &:active{
                        background-color: $accent-color;
                    }
                    img{
                        height: 24px;
                    }
                }
                .active-btn{
                    background-color: $gray;
                }
            }
        }
        .install-option{
            position: fixed;
            bottom: 100px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            img{
                height: 24px;
                margin: 10px;

            }
            &:hover{
                cursor: pointer;
            }
        }
    }
    .right-container{
        width: 70vw;
        min-width: calc(100vw - 350px);
        height: calc(100% - 100px);
        background-color: $gray;
        padding: 0px 24px;
        color: $secondary-color;
        overflow-y: scroll;
        .searchbar-wrap{
            margin: 20px 0px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 20px;
            height: 50px;
            .arrow-btn{
                width: 36px;
                height: 36px;
                border-radius: 50%;
                outline: none;
                border: none;
                background-color: #1d1d1d;
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover{
                    cursor: pointer;
                }
                &:active{
                    background-color: $accent-color;
                }
            }
            .search-bar{
                background-color: $secondary-color;
                width: 50%;
                max-width: 400px;
                border-radius: 50px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 10px;
                padding: 10px 12px;
                font-weight: 500;
                color: #6c6c6c;
                img{
                    height: 20px;
                }
                input{
                    width: 80%;
                    font-size: 16px;
                    outline: none;
                    border: none;
                }
            }
        }
        .genre-wrap{
            padding: 10px 0px;
            .right-arrow-genre{
                position: absolute;
                top: calc(25vh + 50px);
                right: 8px;
                width: 36px;
                height: 36px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $secondary-color;
                border-radius: 50%;
                z-index: 9999;
                transition: 200ms;
                &:hover{
                    // background-color: $accent-color;
                    transform: scale(1.1);
                    cursor: pointer;
                }
            }
            .genre-box-wrap{
                display: grid;
                height: 30vh;
                max-height: 400px;
                grid-template-columns: repeat(2,1fr);
                gap: 28px;
                margin: 24px 0px;
                .genre-box{
                    height: 100%;
                    width: auto;
                    border-radius: 6px;
                    padding: 16px 16px;
                    transition: 200ms;
                    font-size: 12px;
                    &:hover{
                        cursor: pointer;
                        transform: scale(1.02);
                    }
                }
                .pop{
                    background-color: #8569A5;
                }
                .hip-hop{
                    background-color: #a4632a;
                }
            }
        }
        .browse-wrap{
            .browse-box-wrap{
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                margin-top: 24px;
                gap: 28px;
                height: 22vh;
                min-height: 100px;
                margin-bottom: 12px;
                .browse-box{
                    border-radius: 6px;
                    padding: 16px 16px;
                    font-size: 18px;
                    font-weight: 600;
                    transition: 200ms;
                    font-size: 22px;
                    &:hover{
                        cursor: pointer;
                        transform: scale(1.03);
                    }
                }
                .podcast{
                    background-color: #4c7d67;
                }
                .made-for-you{
                    background-color: #2d3561;
                }
                .charts{
                    background-color: #8569a5;
                }
                .new-releases{
                    background-color: #c8385d;
                }
            }
        }

    }
    .player-container{
        position: fixed;
        background-color: #1b1b1b;
        height: 100px;
        width: 100vw;
        bottom: 0px;
        left: 0px;
        display: flex;
        
        .left-player{
            display: flex;
            align-items: center;
            gap: 16px;
            width: 30vw;
            max-width: 350px;
            padding: 16px 28px;
            img{
                height: 60px;
                transition: 200ms;
                &:hover{
                    border-radius: 50%;
                    transform: scale(1.1);
                    cursor: pointer;
                }
            }
            .song-title{
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;
                width: 70%;
                padding: 10px 16px;
                &:hover{
                    cursor: pointer;
                }
                .song-name{
                    color: $secondary-color;
                    font-weight: 500;
                    font-size: 16px;
                }
                .artist-name{
                    color: #807f7f;
                    font-weight: 500;
                    font-size: 12px;
                }
            }
            .like-heart{
                height: 24px;
            }
        }
        .controls-wrap{
            width: 70vw;
            min-width: calc(100vw - 350px);
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // padding: 20px 20px;
            .controllers{
                width: 30vw;
                max-width: 350px;
                min-width: 200px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 24px;
                img{
                    height: 18px;
                    &:hover{
                        cursor: pointer;
                    }
                }
                .pause-icon{
                    height: 48px;
                }
            }
            .slider-wrap{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 12px;
                color: $secondary-color;
                .slider-text{
                    font-size: 12px;
                }
                .slider{
                    margin-top: 4px;
                    width: 50vw;
                    .bg-slider{
                        height: 3px;
                        background-color: #807f7f;
                        border-radius: 50px;
                    }
                    .fg-slider{
                        position: relative;
                        top: -3px;
                        height: 3px;
                        background-color: $secondary-color;
                        width: 83%;
                        border-radius: 50px;
                        &:hover{
                            background-color: $accent-color;
                            cursor: pointer;
                        }
                    }
                }

            }
        }
    }
}

// scrollbar for right-container
::-webkit-scrollbar-thumb {
    background-color: $primary-color;
    border-radius: 50px;
}
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    background-color: $gray;
}



@media screen and (max-height:700px){
    .main-container{
        .left-container{
            height: calc(100% - 75px);
            .logo-wrap{
                img{
                    height: 24px;
                }
            }
            .navbar-wrap{
                .navbar{
                    button{
                        font-size: 12px;
                        img{
                            height: 16px;
                        }
                    }
                }
            }
            .install-option{
                font-size: 12px;
                img{
                    height: 16px;
                }
            }
        }
        .right-container{
            height: calc(100% - 75px);
            .browse-wrap{
                .browse-box-wrap{
                    .browse-box{
                        font-size: 16px;
                    }
                }
            }
        }
        .player-container{
            height: 75px;
            .left-player{
                img{
                    height: 48px;
                }
                .song-title{
                    .song-name{
                        font-size: 14px;
                    }
                    .artist-name{
                        font-size: 10px;
                    }
                }
            }
            .controls-wrap{
                .controllers{
                    img{
                        height: 16px;
                    }
                    .pause-icon{
                        height: 36px;
                    }
                }
            } 
        }

    }
}

@media screen and (max-width:900px){
    .main-container{
        .right-container{
            .searchbar-wrap{
                .search-bar{
                    width: 70%;
                }
            }
            .browse-wrap{
                .browse-box-wrap{
                    grid-template-columns: repeat(2, 1fr);
                }
            }
        }
    }
}


