@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.main-container .left-container {
  width: 30vw;
  max-width: 350px;
  height: calc(100% - 100px);
  background-color: #080808;
  padding: 20px 20px;
  color: #FFFFFF;
}
.main-container .left-container .logo-wrap img {
  height: 3vw;
  max-height: 36px;
  min-height: 24px;
}
.main-container .left-container .navbar-wrap {
  padding: 20px 0px;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.main-container .left-container .navbar-wrap .navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 6px;
}
.main-container .left-container .navbar-wrap .navbar button {
  width: 100%;
  text-align: start;
  padding: 10px 10px;
  border-radius: 6px;
  outline: none;
  border: none;
  background-color: transparent;
  color: inherit;
  font-size: 16px;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  font-weight: 500;
}
.main-container .left-container .navbar-wrap .navbar button:hover {
  cursor: pointer;
  background-color: #161616;
}
.main-container .left-container .navbar-wrap .navbar button:active {
  background-color: #1DB954;
}
.main-container .left-container .navbar-wrap .navbar button img {
  height: 24px;
}
.main-container .left-container .navbar-wrap .navbar .active-btn {
  background-color: #161616;
}
.main-container .left-container .install-option {
  position: fixed;
  bottom: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.main-container .left-container .install-option img {
  height: 24px;
  margin: 10px;
}
.main-container .left-container .install-option:hover {
  cursor: pointer;
}
.main-container .right-container {
  width: 70vw;
  min-width: calc(100vw - 350px);
  height: calc(100% - 100px);
  background-color: #161616;
  padding: 0px 24px;
  color: #FFFFFF;
  overflow-y: scroll;
}
.main-container .right-container .searchbar-wrap {
  margin: 20px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  height: 50px;
}
.main-container .right-container .searchbar-wrap .arrow-btn {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  outline: none;
  border: none;
  background-color: #1d1d1d;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container .right-container .searchbar-wrap .arrow-btn:hover {
  cursor: pointer;
  background-color: #949494;
}
.main-container .right-container .searchbar-wrap .arrow-btn:active {
  background-color: #1DB954;
}
.main-container .right-container .searchbar-wrap .search-bar {
  background-color: #FFFFFF;
  width: 50%;
  max-width: 400px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 10px 12px;
  font-weight: 500;
  color: #6c6c6c;
}
.main-container .right-container .searchbar-wrap .search-bar img {
  height: 20px;
}
.main-container .right-container .searchbar-wrap .search-bar input {
  width: 80%;
  font-size: 16px;
  outline: none;
  border: none;
}
.main-container .right-container .genre-wrap {
  padding: 10px 0px;
}
.main-container .right-container .genre-wrap .right-arrow-genre {
  position: absolute;
  top: calc(25vh + 50px);
  right: 8px;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 50%;
  z-index: 9999;
  transition: 200ms;
}
.main-container .right-container .genre-wrap .right-arrow-genre:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.main-container .right-container .genre-wrap .genre-box-wrap {
  display: grid;
  height: 30vh;
  max-height: 400px;
  grid-template-columns: repeat(2, 1fr);
  gap: 28px;
  margin: 24px 0px;
}
.main-container .right-container .genre-wrap .genre-box-wrap .genre-box {
  height: 100%;
  width: auto;
  border-radius: 6px;
  padding: 16px 16px;
  transition: 200ms;
  font-size: 12px;
}
.main-container .right-container .genre-wrap .genre-box-wrap .genre-box:hover {
  cursor: pointer;
  transform: scale(1.02);
}
.main-container .right-container .genre-wrap .genre-box-wrap .pop {
  background-color: #8569A5;
}
.main-container .right-container .genre-wrap .genre-box-wrap .hip-hop {
  background-color: #a4632a;
}
.main-container .right-container .browse-wrap .browse-box-wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 24px;
  gap: 28px;
  height: 22vh;
  min-height: 100px;
  margin-bottom: 12px;
}
.main-container .right-container .browse-wrap .browse-box-wrap .browse-box {
  border-radius: 6px;
  padding: 16px 16px;
  font-size: 18px;
  font-weight: 600;
  transition: 200ms;
  font-size: 22px;
}
.main-container .right-container .browse-wrap .browse-box-wrap .browse-box:hover {
  cursor: pointer;
  transform: scale(1.03);
}
.main-container .right-container .browse-wrap .browse-box-wrap .podcast {
  background-color: #4c7d67;
}
.main-container .right-container .browse-wrap .browse-box-wrap .made-for-you {
  background-color: #2d3561;
}
.main-container .right-container .browse-wrap .browse-box-wrap .charts {
  background-color: #8569a5;
}
.main-container .right-container .browse-wrap .browse-box-wrap .new-releases {
  background-color: #c8385d;
}
.main-container .player-container {
  position: fixed;
  background-color: #1b1b1b;
  height: 100px;
  width: 100vw;
  bottom: 0px;
  left: 0px;
  display: flex;
}
.main-container .player-container .left-player {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 30vw;
  max-width: 350px;
  padding: 16px 28px;
}
.main-container .player-container .left-player img {
  height: 60px;
  transition: 200ms;
}
.main-container .player-container .left-player img:hover {
  border-radius: 50%;
  transform: scale(1.1);
  cursor: pointer;
}
.main-container .player-container .left-player .song-title {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  padding: 10px 16px;
}
.main-container .player-container .left-player .song-title:hover {
  cursor: pointer;
}
.main-container .player-container .left-player .song-title .song-name {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
}
.main-container .player-container .left-player .song-title .artist-name {
  color: #807f7f;
  font-weight: 500;
  font-size: 12px;
}
.main-container .player-container .left-player .like-heart {
  height: 24px;
}
.main-container .player-container .controls-wrap {
  width: 70vw;
  min-width: calc(100vw - 350px);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-container .player-container .controls-wrap .controllers {
  width: 30vw;
  max-width: 350px;
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.main-container .player-container .controls-wrap .controllers img {
  height: 18px;
}
.main-container .player-container .controls-wrap .controllers img:hover {
  cursor: pointer;
}
.main-container .player-container .controls-wrap .controllers .pause-icon {
  height: 48px;
}
.main-container .player-container .controls-wrap .slider-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: #FFFFFF;
}
.main-container .player-container .controls-wrap .slider-wrap .slider-text {
  font-size: 12px;
}
.main-container .player-container .controls-wrap .slider-wrap .slider {
  margin-top: 4px;
  width: 50vw;
}
.main-container .player-container .controls-wrap .slider-wrap .slider .bg-slider {
  height: 3px;
  background-color: #807f7f;
  border-radius: 50px;
}
.main-container .player-container .controls-wrap .slider-wrap .slider .fg-slider {
  position: relative;
  top: -3px;
  height: 3px;
  background-color: #FFFFFF;
  width: 83%;
  border-radius: 50px;
}
.main-container .player-container .controls-wrap .slider-wrap .slider .fg-slider:hover {
  background-color: #1DB954;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background-color: #080808;
  border-radius: 50px;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: #161616;
}

@media screen and (max-height: 700px) {
  .main-container .left-container {
    height: calc(100% - 75px);
  }
  .main-container .left-container .logo-wrap img {
    height: 24px;
  }
  .main-container .left-container .navbar-wrap .navbar button {
    font-size: 12px;
  }
  .main-container .left-container .navbar-wrap .navbar button img {
    height: 16px;
  }
  .main-container .left-container .install-option {
    font-size: 12px;
  }
  .main-container .left-container .install-option img {
    height: 16px;
  }
  .main-container .right-container {
    height: calc(100% - 75px);
  }
  .main-container .right-container .browse-wrap .browse-box-wrap .browse-box {
    font-size: 16px;
  }
  .main-container .player-container {
    height: 75px;
  }
  .main-container .player-container .left-player img {
    height: 48px;
  }
  .main-container .player-container .left-player .song-title .song-name {
    font-size: 14px;
  }
  .main-container .player-container .left-player .song-title .artist-name {
    font-size: 10px;
  }
  .main-container .player-container .controls-wrap .controllers img {
    height: 16px;
  }
  .main-container .player-container .controls-wrap .controllers .pause-icon {
    height: 36px;
  }
}
@media screen and (max-width: 900px) {
  .main-container .right-container .searchbar-wrap .search-bar {
    width: 70%;
  }
  .main-container .right-container .browse-wrap .browse-box-wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}