/*  <!-- Name- Sagar Sharma -->
    <!-- Student of Computer Engg (230113) -->
    <!-- Collage Email: sagarsharma_230113@aitpune.edu.in--> 
*/

/* color variables */
:root{
  --primary: #080808;
  --gray: #161616;
  --secondary: #FFFFFF;
  --accent: #1DB954;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

/* style of left side container */
.left-container {
  width: 30vw;
  max-width: 350px;
  height: calc(100% - 100px);
  background-color: var(--primary);
  padding: 20px 20px;
  color: var(--secondary);
}

.left-container > .logo-wrap > img {
  height: 3vw;
  max-height: 36px;
  min-height: 24px;
}

.left-container > .navbar-wrap {
  padding: 20px 0px;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.navbar-wrap > .navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 6px;
}

.navbar-wrap > .navbar > button {
  width: 100%;
  text-align: start;
  padding: 10px 10px;
  border-radius: 6px;
  outline: none;
  border: none;
  background-color: transparent;
  color: inherit;
  font-size: 16px;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  font-weight: 500;
}

.navbar-wrap > .navbar > button:hover {
  cursor: pointer;
  background-color: var(--gray);
}

.navbar-wrap > .navbar > button:active {
  background-color: var(--accent);
}

.navbar-wrap > .navbar > button > img {
  height: 24px;
}

.navbar-wrap > .navbar > .active-btn {
  background-color: var(--gray);
}

.left-container > .install-option {
  position: fixed;
  bottom: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.install-option > img {
  height: 24px;
  margin: 10px;
}

.install-option:hover {
  cursor: pointer;
}

/* style of right side container */
.main-container > .right-container {
  width: 70vw;
  min-width: calc(100vw - 350px);
  height: calc(100% - 100px);
  background-color: var(--gray);
  padding: 0px 24px;
  color: var(--secondary);
  overflow-y: scroll;
}

.right-container > .searchbar-wrap {
  margin: 20px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  height: 50px;
}

.searchbar-wrap > .arrow-btn {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  outline: none;
  border: none;
  background-color: #1d1d1d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchbar-wrap > .arrow-btn:hover {
  cursor: pointer;
  background-color: #949494;
}

.searchbar-wrap > .arrow-btn:active {
  background-color: var(--accent);
}

.searchbar-wrap > .search-bar {
  background-color: var(--secondary);
  width: 50%;
  max-width: 400px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 10px 12px;
  font-weight: 500;
  color: #6c6c6c;
}

.searchbar-wrap > .search-bar img {
  height: 20px;
}

.searchbar-wrap > .search-bar input {
  width: 80%;
  font-size: 16px;
  outline: none;
  border: none;
}

.right-container > .genre-wrap {
  padding: 10px 0px;
}

.genre-wrap > .right-arrow-genre {
  position: absolute;
  top: calc(25vh + 50px);
  right: 8px;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary);
  border-radius: 50%;
  z-index: 9999;
  transition: 200ms;
}

.genre-wrap > .right-arrow-genre:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.genre-wrap > .genre-box-wrap {
  display: grid;
  height: 30vh;
  max-height: 400px;
  grid-template-columns: repeat(2, 1fr);
  gap: 28px;
  margin: 24px 0px;
}

.genre-box-wrap > .genre-box {
  height: 100%;
  width: auto;
  border-radius: 6px;
  padding: 16px 16px;
  transition: 200ms;
  font-size: 12px;
}

.genre-box-wrap > .genre-box:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.genre-box-wrap > .pop {
  background-color: #8569A5;
}

.genre-box-wrap > .hip-hop {
  background-color: #a4632a;
}

.right-container > .browse-wrap > .browse-box-wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 24px;
  gap: 28px;
  height: 22vh;
  min-height: 100px;
  margin-bottom: 12px;
}

.browse-wrap > .browse-box-wrap > .browse-box {
  border-radius: 6px;
  padding: 16px 16px;
  font-size: 18px;
  font-weight: 600;
  transition: 200ms;
  font-size: 22px;
}

.browse-wrap > .browse-box-wrap > .browse-box:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.browse-wrap > .browse-box-wrap > .podcast {
  background-color: #4c7d67;
}

.browse-wrap > .browse-box-wrap > .made-for-you {
  background-color: #2d3561;
}

.browse-wrap > .browse-box-wrap > .charts {
  background-color: #8569a5;
}

.browse-wrap > .browse-box-wrap > .new-releases {
  background-color: #c8385d;
}

.main-container > .player-container {
  position: fixed;
  background-color: #1b1b1b;
  height: 100px;
  width: 100vw;
  bottom: 0px;
  left: 0px;
  display: flex;
}

.player-container > .left-player {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 30vw;
  max-width: 350px;
  padding: 16px 28px;
}

.left-player > img {
  height: 60px;
  transition: 200ms;
}

.left-player > img:hover {
  border-radius: 50%;
  transform: scale(1.1);
  cursor: pointer;
}

.left-player > .song-title {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  padding: 10px 16px;
}

.left-player > .song-title:hover {
  cursor: pointer;
}

.left-player > .song-title > .song-name {
  color: var(--secondary);
  font-weight: 500;
  font-size: 16px;
}
.left-player > .song-title > .artist-name {
  color: #807f7f;
  font-weight: 500;
  font-size: 12px;
}

.left-player > .like-heart {
  height: 24px;
}

.player-container > .controls-wrap {
  width: 70vw;
  min-width: calc(100vw - 350px);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.controls-wrap > .controllers {
  width: 30vw;
  max-width: 350px;
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.controls-wrap > .controllers img {
  height: 18px;
}

.controls-wrap > .controllers img:hover {
  cursor: pointer;
}

.controls-wrap > .controllers .pause-icon {
  height: 48px;
}

.controls-wrap > .slider-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: var(--secondary);
}

.controls-wrap > .slider-wrap > .slider-text {
  font-size: 12px;
}

.controls-wrap > .slider-wrap > .slider {
  margin-top: 4px;
  width: 50vw;
}

.controls-wrap > .slider-wrap > .slider > .bg-slider {
  height: 3px;
  background-color: #807f7f;
  border-radius: 50px;
}

.controls-wrap > .slider-wrap > .slider > .fg-slider {
  position: relative;
  top: -3px;
  height: 3px;
  background-color: var(--secondary);
  width: 83%;
  border-radius: 50px;
}

.controls-wrap > .slider-wrap > .slider > .fg-slider:hover {
  background-color: var(--accent);
  cursor: pointer;
}

/* scrollbar for right-container browse all section */
::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 50px;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: var(--gray);
}


/* responsive design for smaller height */
@media screen and (max-height: 700px) {
  .main-container > .left-container {
    height: calc(100% - 75px);
  }

  .left-container > .logo-wrap img {
    height: 24px;
  }

  .left-container > .navbar-wrap > .navbar > button {
    font-size: 12px;
  }

  .navbar > button > img {
    height: 16px;
  }

  .left-container > .install-option {
    font-size: 12px;
  }

  .install-option > img {
    height: 16px;
  }

  .main-container > .right-container {
    height: calc(100% - 75px);
  }

  .right-container > .browse-wrap > .browse-box-wrap > .browse-box {
    font-size: 16px;
  }

  .main-container > .player-container {
    height: 75px;
  }

  .player-container > .left-player > img {
    height: 48px;
  }

  .left-player > .song-title > .song-name {
    font-size: 14px;
  }

  .left-player > .song-title > .artist-name {
    font-size: 10px;
  }
  
  .controls-wrap > .controllers > img {
    height: 16px;
  }

  .controls-wrap > .controllers > .pause-icon {
    height: 36px;
  }

}

/* responsive design for smaller height */
@media screen and (max-width: 900px) {
  .main-container > .right-container > .searchbar-wrap > .search-bar {
    width: 70%;
  }

  .right-container > .browse-wrap > .browse-box-wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*  <!-- Name- Sagar Sharma -->
    <!-- Student of Computer Engg (230113) -->
    <!-- Collage Email: sagarsharma_230113@aitpune.edu.in--> 
*/